#*.xcworkspace
#*.xcodeproj
libs
blis
obj
bin
3rd-party/fftw*
.vscode
.metadata/
.DS_Store
.settings
.classpath
.project
proguard-project.txt
project.properties
gen/
!3rd-party/armeabi-v7a/libs
*lujnan_G_0020.16000.4.16bit.pcm*
*.o
model
workdir_cn
