#*.xcworkspace
#*.xcodeproj
libs
obj
bin
3rd-party/fftw-3.3.10
.vscode
.metadata
.DS_Store
.settings
.classpath
.project
proguard-project.txt
project.properties
adi_a2b_busconfig
gen
tmp
mac
*.o
*.txt
model
workdir_cn
!3rd-party/workdir_cn
a.out
hellomake
r2ssp/third_party/openmax_dl/dl/sp/src/test
3rd-party/speexdsp-*
*.swp
