#*.xcworkspace
#*.xcodeproj
.DS_Store
*libs
blis
gemmlowp
DEBUG
RELEASE
obj
bin
3rd-party/fftw*
.vscode
.metadata/
.DS_Store
.settings
.classpath
.project
proguard-project.txt
project.properties
gen/
!3rd-party/armeabi-v7a/libs
*.pcm
!activation/data/*.pcm
